body{
    margin: 0;
    background-image: url('/7J9A1599.jpg');
    background-size: cover;
}

header{
    height: 70px;
    padding: 10px 10px;
    display: flex;/*要素を横並びにする*/
    justify-content: space-between;/*両端に揃える*/
    align-items: center;/*在侧轴上居中对齐-垂直に揃える*/
    background-color:rgba(245, 222, 179,0.3);
}

main{
    display: flex;
    justify-content: center; /*在主轴上居中对齐*/
    align-items: center; 
}

form{
    text-align: center; 
}

ul{
    list-style:none; 
    font:28px;
    display: flex;
    margin-right: 10px;
    
}

li{
    /*float:right;*/
    margin-right: 10px;
    font-weight: bold;
}

.link ul li a {
    color: rgba(238,118,33,0.9); /* 设置链接文字颜色 */
    text-decoration: none; /* 去除下划线 */
  }

ul li a:hover{
    color:rgb(240, 167, 9);
}

footer{
    display: flex;
    position: absolute;
    bottom: 30px;
    margin-right: 10px;
    right: 0;
}

.welcome{
    color: rgba(255, 248, 220,0.6);/* 设置文字颜色 */
}


.title,.user-login-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 50px; /* 设置字体大小 */
   font-weight: lighter;
    width: 700px; /* 设置div宽度 */
    height: 100px; /* 设置div高度 */
    color: rgba(238,118,33,0.8);/* 设置文字颜色 */
    
}

.user-login-form{
    width: 300px;
    height: 300px;
    background-color:rgba(255, 248, 220,0.2); 
    margin-left: auto;
    margin-right: auto;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.user-login-btn{
    background-color:rgba(238,118,33,0.5);
    color: rgba(255, 248, 220,0.8);
    width: 100px;
    height: 60px;
    border-radius: 50px;
    font-weight:bolder;
    font-size: 20px;
}

.link{
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 0;
}