<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list-of-blogs</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="blog">
    <header class="list-header">
        <div class="menu">
            <div class="menu-title-l">天気がいいから、散歩しましょうか</div>
            <ul class="menu-title-r">
                <li>メールアドレス表示&nbsp;&nbsp;&nbsp;</li>
                <li><a href="">ログアウト&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="">お問合せ</a></li>
            </ul>
        </div>
    </header>
    <main class="list-main">
        <div class="list-middle">
            <div class="list-left">
                <div class="homepage-top">記事一覧</div><!--title-->
                <div class="homepage-mid">
                    <div class="homepage-box"><!--メモーボックス-->
                        <img class="homepage-image" src="woman.jpg" alt="image">
                        <div class="homepage-article">
                            <h3>Title One</h3>
                        </div>
                    </div>
                    <div class="homepage-box">
                        <img class="homepage-image" src="bird.png" alt="image">
                        <div class="homepage-article">
                            <h3>Title Two</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-right">
                <div class="search">
                    <form action="/search" method="get">
                        <label for="search">&nbsp;&nbsp;Search:</label><br/>
                        &nbsp;&nbsp;<input type="text" id="search" name="search" placeholder="キーワードを入力する">
                        <input type="submit" value="捜索">
                    </form>
                </div>
                <div class="introduce">
                    <ul>
                        <li><a href="create-blog.html">新規記事</a></li>
                        <li><a href="edit-blog.html">記事編集</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <small>Copyright &copy; Jun All rights reserved</small>
    </footer>
</body>

</html>