<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400;700&family=Dela+Gothic+One&family=Gluten:wght@200;300&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body class="login">
    <header class="login-header">
        <h1 class="welcome">Welcome to Jun's Blog</h1>
    </header>
    <main class="login-main">
        <div class="login-middle">
            <div class="title">あなたもきっと、誰かの奇跡</div>

            <div class="user-login-form">
                <form action="/login/process" method="post">
                    <div class="form-row">
                        <button class="user-login-btn">ログイン</button>
                    </div>
                    <div class="form-row">
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="form-row">
                        <input type="password" id="password" name="password"  required>
                    </div>
                    <div>
                        <p>※パスワードを忘れた方は<a href="">こちら</a></p>
                    </div>
                    <div>
                        <p>※新規登録の方は<a href="">こちら</a></p>
                    </div>
                </form>
            </div>

            <div class="link">
                <ul class="link-title-r">
                    <li><a href="">ホーム記事&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="">新規登録&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="">お問合せ</a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <small>Copyright &copy; Jun All rights reserved</small>
    </footer>
</body>

</html>